slack:
  client_token: 'your_slack_client_token'
  channel: '#your_slack_channel_name'
twilio:
  account_sid: 'your_twilio_account_sid'
  auth_token: 'your_twilio_auth_token'
  app_sid: 'your_twilio_app_sid'
  client_name: 'your_twilio_client_name'
  caller: 'your_twilio_phone_number'
web_client_link: 'your_web_client_name'